nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: solid 1px var(--shadow-color);
}

.brand {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
